<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A</title>

    <link rel="stylesheet" href="../static/css/song.css">
    <link rel="stylesheet" href="../static/css/searchbar.css">
</head>
<body>
    <div id="player"></div>

    <section class="search">
        <form action="search" id="search-form"class="search__form">
            <input type="text" id="search-input" name="q">
            <button type="submit" id="search-submit">🔎</button>
        </form>
    </section>

    <section aira-name="player" class="player">
        <div class="player__container">
            <img class="track__thumbnail" src="" alt="Track thumbnail">
    
            <div class="track__details">
                <h3 class="track__title">
                    Loading Song
                </h3>
                <p class="track__artist">
                   
                </p>
            </div>
    
            <div class="progress">
                <div class="progress__value"></div>
            </div>
            <div class="controls__container">
                <button id="prev">⏪</button>
                <button id="play">▶️</button>
                <button id="next">⏩</button>
                <button id="loop">🔁</button>
            </div>
        </div>

    </section>
    <ul id="recommendations"></ul>


    <script src="../static/js/song.js" type="module"></script>
</body>
</html>