.search__form {
    display: flex;
    justify-content: center;
    background-color: #382039;
    padding: 3%;
}

.search__form input {
    background-color: transparent;
    width: 80%;
    color: #f6389a;
    padding-left: 2%;
    border: 1px solid #6f0c62;
    border-radius: 15px;
}

.search__form input:focus {
    outline: none;
}
.search__form button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}